/* ==========================
   Skills Section
========================== */

.skills-section{
    background-color:#0F172A;
    padding:100px 0;
}

/* Heading */

.skills-title{
    color:#38BDF8;
    font-size:42px;
    font-weight:700;
    margin-bottom:10px;
}

.skills-subtitle{
    color:#cbd5e1;
    font-size:18px;
    margin-bottom:50px;
}

/* Skill Card */

.skill-card{
    background:#1E293B;
    border-radius:15px;
    padding:30px 20px;
    text-align:center;
    height:180px;
    transition:0.4s;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

.skill-card:hover{
    transform:translateY(-10px);
    background:#38BDF8;
}

/* Icons */

.skill-icon{
    font-size:55px;
    color:#38BDF8;
    margin-bottom:20px;
    transition:0.4s;
}

.skill-card:hover .skill-icon{
    color:white;
}

/* Skill Name */

.skill-card h5{
    color:white;
    font-size:20px;
    font-weight:600;
    margin:0;
}

/* Responsive */

@media(max-width:992px){

    .skills-title{
        font-size:36px;
    }

    .skill-card{
        height:170px;
    }

}

@media(max-width:768px){

    .skills-section{
        padding:80px 20px;
    }

    .skills-title{
        font-size:30px;
    }

    .skills-subtitle{
        font-size:16px;
    }

    .skill-card{
        height:160px;
    }

    .skill-icon{
        font-size:45px;
    }

}

@media(max-width:576px){

    .skill-card{
        margin-bottom:15px;
    }

    .skill-icon{
        font-size:40px;
    }

    .skill-card h5{
        font-size:18px;
    }

}